aiohttp==3.8.1
aiohttp-debugtoolbar==0.6.0
aiohttp-jinja2==1.5
aioredis==2.0.1
aiosignal==1.2.0
alembic==1.7.6
async-timeout==4.0.2
asyncpg==0.25.0
attrs==21.4.0
charset-normalizer==2.0.9
ConfigArgParse==1.5.3
frozenlist==1.2.0
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
iniconfig==1.1.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
multidict==6.0.2
packaging==21.3
pluggy==1.0.0
py==1.11.0
pydantic==1.9.0
pyparsing==3.0.7
pytest==7.0.1
pytest-aiohttp==1.0.4
pytest-asyncio==0.18.2
PyYAML==6.0
SQLAlchemy==1.4.29
swagger-ui-bundle==0.0.9
tomli==2.0.0
typing_extensions==4.0.1
yarl==1.7.2
